<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sam Neirinck</title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		{{- block "main" . }}{{- end }}
		<main>
			<header>
				<button id="closeTerminal" title="Close" class="close"></button>
				<button id="minimizeTerminal" title="Minimize" class="minimize"></button>
				<button id="maximizeTerminal" title="Maximize" class="maximize"></button>
				<span>samneirinck.com - home</span>
			</header>
			<section>
				<h1>whoami</h1>
				<p>
					Sam Neirinck - Software Engineer
				</p>
			</section>
			<section>
				<h1>help</h1>
				<ul>
					<li>about</li>
					<li>resume</li>
					<li>projects</li>
					<li>skills</li>
				</ul>
			</section>
			<section id="promptSection" class="prompt">
				<form id="promptForm">
					<label for="prompt">$</label>
					<input id="prompt" type="text" autofocus autocomplete="off" spellcheck="false" required>
				</form>
			</section>
		</main>
		<script src="scripts/main.js"></script>
	</body>
</html>
