<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sam Neirinck</title>
		{{ with resources.Get "css/style.css" }}
		<link rel="stylesheet" href="{{ .RelPermalink }}">
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		{{ end }}
	</head>
	<body>
		<main class="terminal">
			<header>
				<button id="closeTerminal" title="Close" class="close"></button>
				<button id="minimizeTerminal" title="Minimize" class="minimize"></button>
				<button id="maximizeTerminal" title="Maximize" class="maximize"></button>
				<span>samneirinck.com - home</span>
			</header>
			<section class="terminal-content">
				{{- block "main" . }}{{- end }}
			</section>
			<section id="promptSection" class="prompt">
				<form id="promptForm">
					<label for="prompt">$</label>
					<input id="prompt" type="text" autofocus autocomplete="off" spellcheck="false" required autocapitalize="off">
				</form>
			</section>
		</main>
		{{ with resources.Get "scripts/main.js" }}
		<script src="{{ .RelPermalink }}"></script>
		{{ end }}
	</body>
</html>
