<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sam Neirinck</title>
		{{ with resources.Get "css/style.css" }}
		<link rel="stylesheet" href="{{ .RelPermalink }}">
		{{ end }}
	</head>
	<body>
		{{- block "main" . }}{{- end }}
		<main class="terminal">
			<header>
				<button id="closeTerminal" title="Close" class="close"></button>
				<button id="minimizeTerminal" title="Minimize" class="minimize"></button>
				<button id="maximizeTerminal" title="Maximize" class="maximize"></button>
				<span>samneirinck.com - home</span>
			</header>
			<section class="terminal-content">
				<section>
					<h1>whoami</h1>
					<p>
						Sam Neirinck - Software Developer
					</p>
				</section>
				<section>
					<h1>help</h1>
					<ul>
						<li>about</li>
						<li>resume</li>
						<li>projects</li>
						<li>skills</li>
					</ul>
				</section>
			</section>
			<section id="promptSection" class="prompt">
				<form id="promptForm">
					<label for="prompt">$</label>
					<input id="prompt" type="text" autofocus autocomplete="off" spellcheck="false" required>
				</form>
			</section>
		</main>
		{{ with resources.Get "scripts/main.js" }}
		<script src="{{ .RelPermalink }}"></script>
		{{ end }}
	</body>
</html>
