@font-face {
  font-family: "JetBrains Mono";
  src: url("//fonts/JetBrainsMono-Regular.woff2");
}

:root {
  --foreground: #dadada;
  --background: #1f2026;
}

html {
  font-family: "JetBrains Mono", monospace;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  display: grid;
  justify-content: center;
  width: 100%;
}

main {
  background-color: #1a191f;
  width: min(900px, 100vw);
  height: 600px;
  border: 1px solid #1f2937;
  border-radius: 8px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.45);

  display: flex;
  flex-direction: column;
  overflow: scroll;

  transition-property: height;
  transition-timing-function: ease-out;
  transition-duration: 200ms;
}

main.maximized {
  width: 100vw;
  height: 100vh;
}

main.minimized {
  height: 40px;
  overflow: hidden;
}

main.closed {
  display: none;
}

header button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background: #555;
  cursor: pointer;
}
header {
  padding: 0.5rem;
}

button.close {
  background: #ec6765;
}
button.minimize {
  background: #f2ca44;
}
button.maximize {
  background: #65c466;
}

section {
  padding: 0.5rem;
  border-bottom: 1px solid #1f2937;
}

section h1 {
  font-size: 1rem;
  color: #a8c8cf;
}
section h1::before {
  content: "$ ";
}

.prompt {
  border-bottom: 0;
}

.prompt input {
  background: transparent;
  font-family: "JetBrains Mono", monospace;
  font-size: 1rem;

  color: #a8c8cf;
  border: none;
  outline: none;
  color: var(--foreground);
}
